annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
distlib==0.3.8 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.13.1 ; python_version >= "3.11" and python_version < "3.12"
identify==2.5.35 ; python_version >= "3.11" and python_version < "3.12"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "3.12"
nodeenv==1.8.0 ; python_version >= "3.11" and python_version < "3.12"
platformdirs==4.2.0 ; python_version >= "3.11" and python_version < "3.12"
pre-commit==3.6.2 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.16.3 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.6.4 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
setuptools==69.2.0 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.10.0 ; python_version >= "3.11" and python_version < "3.12"
virtualenv==20.25.1 ; python_version >= "3.11" and python_version < "3.12"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
